---
http_interactions:
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=e51645efd1f9edffb6c4006c09d9bf52&oauth_signature=udbRsQOeugFy3lIPPXfhSUX5RpQ=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008615&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 43kcal
        | Fat: 0.00g | Carbs: 3.55g | Protein: 0.46g", "food_id": "7682", "food_name":
        "Beer", "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/beer"
        }, {"food_description": "Per 100g - Calories: 231kcal | Fat: 0.00g | Carbs:
        0.00g | Protein: 0.00g", "food_id": "7731", "food_name": "Vodka", "food_type":
        "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/vodka"
        }, {"food_description": "Per 100g - Calories: 250kcal | Fat: 0.00g | Carbs:
        0.10g | Protein: 0.00g", "food_id": "7693", "food_name": "Whiskey", "food_ty[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=eb268e3d9f8c851d4a6443d9942eb5a8&oauth_signature=duKRCWOU/zCW%2BL2oehV8WFs2buQ=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008677&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=b1fc2b19d196322ea165c2159f3ee421&oauth_signature=W6pv1FCbqzOTsuCLkoB22AxsmQU=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008704&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=243f02a5aae1cc95baec67fc98184a62&oauth_signature=b351A62DpyvNThBEsuIsICVt1mM=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008715&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=d0b3c820f9ea35daf223c66f0d330722&oauth_signature=7DmWIE3M8AgEyOVKGjyAIbBntSE=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008723&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=1bb754afe5b932f5a5af6fceec07e678&oauth_signature=XUCggtR68MlpkDAomqDkCYsEprk=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008787&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=c9a20b5cac2ac28fc817f779c8a887cf&oauth_signature=11Xe6sm0ZR6CVhTUOOql6J6fbxk=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008790&oauth_version=1.0&page_number=1&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=ab1ba80fbb1cf75eec1d0044fa830373&oauth_signature=iVDjiMrdgoorO3zXvFytyD1sqtM=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008792&oauth_version=1.0&page_number=2&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 275kcal
        | Fat: 0.00g | Carbs: 0.00g | Protein: 0.00g", "food_id": "37942", "food_name":
        "Alcoholic Beverage (94 Proof, Gin Rum Vodka Whiskey)", "food_type": "Generic",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/usda\/alcoholic-beverage-(94-proof-gin-rum-vodka-whiskey)"
        }, {"brand_name": "Michelob", "food_description": "Per 1 bottle - Calories:
        95kcal | Fat: 0.00g | Carbs: 2.60g | Protein: 0.60g", "food_id": "54560",
        "food_name": "Ultra Light Beer", "food_type": "Brand", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/michelob\/ultra-light-beer"
        }, {"brand_name": "Samuel Adams", "food_description": "Per 1 bottle - Calories:
        166kcal | Fat: 0.00g | Carbs: 14.00g | Protein: 1.00g", "food_id": "304365",
        "food_name": "Summer Ale B[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=f28feb3487a1116fc0c481e34896c70d&oauth_signature=Qf1mMkpyAfOlTyz/eKGo2OzjbtU=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008793&oauth_version=1.0&page_number=3&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=b1b9bb2ea961d1fd51d3b4e8eff5d547&oauth_signature=T0voVXKemMengzESeyA7ZdBAkZQ=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008794&oauth_version=1.0&page_number=4&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"brand_name": "Longhorn Steakhouse", "food_description":
        "Per 1 serving - Calories: 200kcal | Fat: 0.00g | Carbs: 15.00g | Protein:
        0.00g", "food_id": "403251", "food_name": "Cosmopolitan", "food_type": "Brand",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/longhorn-steakhouse\/cosmopolitan"
        }, {"brand_name": "Anheuser-Busch", "food_description": "Per 1 bottle - Calories:
        55kcal | Fat: 0.00g | Carbs: 1.90g | Protein: 0.90g", "food_id": "249240",
        "food_name": "Budweiser Select 55 Premium Light Beer", "food_type": "Brand",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/anheuser-busch\/budweiser-select-55-premium-light-beer"
        }, {"brand_name": "Miller Brewing Company", "food_description": "Per 1 bottle
        - Calories: 64kcal | Fat: 0.00g | Carbs: 2.40g | Protein: 1.00g", "food_id":
        "82475", "food_name": "Genuine Draft Light Beer", "food_type": "Brand", "food_url":
        "http:\/\/www.fatsecret.com\/calories-nutrition\/miller-brewing-company\/genuine-draft-light-beer"
        }, {"food_description": "Per 100g - Calories: 231kcal | Fat: 0.00g | Carbs:
        0.00g | Protein: 0.00g", "food_id": "37735", "food_name": "Rum (90 Proof)",
        "food_type": "Generic", "food_url": "http:\/\/www.fatsecret[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=14b7e722eaab45fede5d3c851fc7354f&oauth_signature=Qbd9aumaPlJr1NmbeIVBbsBIKfE=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008795&oauth_version=1.0&page_number=5&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=43d5fffe2623005ce07d4e623a2d4273&oauth_signature=9T7RdXEOYgqm6USCOUCMOF37yG8=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008797&oauth_version=1.0&page_number=6&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=c054e4e9da60d24f0f2b2da546409edb&oauth_signature=dDOeBPTvhKIoljrXqcV3Z7pxyqo=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008798&oauth_version=1.0&page_number=7&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=f2bf76f48266fe2fd8d2c455ac37b217&oauth_signature=BN36pL0F7Kv38%2B7bd7JUancmq30=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008800&oauth_version=1.0&page_number=8&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=cae8bd96f4f7fe6928b254a21496fccc&oauth_signature=wB5GLs%2BaAz7qlvELM2jP39/ozAE=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008801&oauth_version=1.0&page_number=9&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=3b8ac3bea425902dcc8e311699457428&oauth_signature=oQTkfTkuIn%2BQnl3Iog4iDHab/tc=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008803&oauth_version=1.0&page_number=10&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
   [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=f151e2acf283c3da5e5ad1f6f3d9e2ef&oauth_signature=eRZi4QOKa4u2er4D0elORQne6Cw=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008804&oauth_version=1.0&page_number=11&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
     [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=06fa28e447972417c37055b36cd8493c&oauth_signature=RJm7wXkDx87G/qfl5dL4VrebCP4=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008819&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=11aaf6d84f77ffc7525c1769fd383b7e&oauth_signature=EVpK3STXf3hd82UMbTvvNot92ME=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008820&oauth_version=1.0&page_number=1&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=21dfb6394a1cc3b60aa51eb138625d9d&oauth_signature=CXoy4Q8gDE/uf8kUNpzCAi3Eiig=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008822&oauth_version=1.0&page_number=2&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=7b4c2e7966c6ee61926c23ae91230826&oauth_signature=1zVAsak0/pn8ArXhYuRQMytrgtA=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008823&oauth_version=1.0&page_number=3&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=0445943b791906c6a1046f6e12d17dfc&oauth_signature=XjzR2gAD%2BtQT8Wfp0X2mf5tLwVY=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008824&oauth_version=1.0&page_number=4&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=9039a968c33ccece903c36c37eccde66&oauth_signature=NATLZ959pXwwHfyLKq0fcNfTgxM=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008825&oauth_version=1.0&page_number=5&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=35a8455289dac466f6caf83b64d60fdd&oauth_signature=AZJsBhAbMeAJaIKvd8oK6Cf/f9Y=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008827&oauth_version=1.0&page_number=6&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=8270942066a642662fdf789139d6b944&oauth_signature=HdWaflKZRuBTCFYfWTpwQlYvAjQ=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008828&oauth_version=1.0&page_number=7&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=67dab8d975d912d7b06109100d4e7582&oauth_signature=GVy1cNOIqjEbtQhACaP0Twek81k=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008830&oauth_version=1.0&page_number=8&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=33d4f7561cd9115ef619ca96cbd9b1cc&oauth_signature=WiFiz83cYu67qyi7ydxVtm4O95Q=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008832&oauth_version=1.0&page_number=9&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=12fb891170bcf728991096e42aaa355f&oauth_signature=kZJE%2BzrlEQ%2BDGolqVOhiY4MB3Is=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008834&oauth_version=1.0&page_number=10&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
 [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=75946d48f3511ce07cd83ceeb341379f&oauth_signature=6nRIQXX0jx/lMyCBGkFD69G7YXQ=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388008835&oauth_version=1.0&page_number=11&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
     [...]
