---
http_interactions:
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=e98538cb84c46586e31916c04bac0fb7&oauth_signature=YRIjsW%2BkzigpG6fFYphxUi3lmc8=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011290&oauth_version=1.0&page_number=0&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 43kcal
        | Fat: 0.00g | Carbs: 3.55g | Protein: 0.46g", "food_id": "7682", "food_name":
        "Beer", "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/beer"
        }, {"food_description": "Per 100g - Calories: 231kcal | Fat: 0.00g | Carbs:
        0.00g | Protein: 0.00g", "food_id": "7731", "food_name": "Vodka", "food_type":
        "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/vodka"
        }, {"food_description": "Per 100g - Calories: 250kcal | Fat: 0.00g | Carbs:
        0.10g | Protein: 0.00g", "food_id": "7693", "food_name": "Whiskey", "food_ty[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=a5ad8d77efcf0833cf23e104ccd883f2&oauth_signature=w/VFo3XVPnWYn5Im8LddHjB34sc=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011292&oauth_version=1.0&page_number=1&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=10f3dcd694445bfd1f8b94d87d424b9c&oauth_signature=LU3CgZRib8Jct3jWrKr4Hb06FFY=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011294&oauth_version=1.0&page_number=2&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 275kcal
        | Fat: 0.00g | Carbs: 0.00g | Protein: 0.00g", "food_id": "37942", "food_name":
        "Alcoholic Beverage (94 Proof, Gin Rum Vodka Whiskey)", "food_type": "Generic",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/usda\/alcoholic-beverage-(94-proof-gin-rum-vodka-whiskey)"
        }, {"brand_name": "Michelob", "food_description": "Per 1 bottle - Calories:
        95kcal | Fat: 0.00g | Carbs: 2.60g | Protein: 0.60g", "food_id": "54560",
        "food_name": "Ultra Light Beer", "food_type": "Brand", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/michelob\/ultra-light-beer"
        }, {"brand_name": "Samuel Adams", "food_description": "Per 1 bottle - Calories:
        166kcal | Fat: 0.00g | Carbs: 14.00g | Protein: 1.00g", "food_id": "304365",
        "food_name": "Summer Ale B[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=21d54445e4f2cd4a34eb5c18d3aacfff&oauth_signature=Iz35uXmb%2BDbgb3l7JY/ESw6YFNE=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011296&oauth_version=1.0&page_number=3&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=f728075e0e13cbf5b28639582099d12f&oauth_signature=cdec/Af2ObXsM3XMHjhTA3qilvU=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011297&oauth_version=1.0&page_number=4&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"brand_name": "Longhorn Steakhouse", "food_description":
        "Per 1 serving - Calories: 200kcal | Fat: 0.00g | Carbs: 15.00g | Protein:
        0.00g", "food_id": "403251", "food_name": "Cosmopolitan", "food_type": "Brand",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/longhorn-steakhouse\/cosmopolitan"
        }, {"brand_name": "Anheuser-Busch", "food_description": "Per 1 bottle - Calories:
        55kcal | Fat: 0.00g | Carbs: 1.90g | Protein: 0.90g", "food_id": "249240",
        "food_name": "Budweiser Select 55 Premium Light Beer", "food_type": "Brand",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/anheuser-busch\/budweiser-select-55-premium-light-beer"
        }, {"brand_name": "Miller Brewing Company", "food_description": "Per 1 bottle
        - Calories: 64kcal | Fat: 0.00g | Carbs: 2.40g | Protein: 1.00g", "food_id":
        "82475", "food_name": "Genuine Draft Light Beer", "food_type": "Brand", "food_url":
        "http:\/\/www.fatsecret.com\/calories-nutrition\/miller-brewing-company\/genuine-draft-light-beer"
        }, {"food_description": "Per 100g - Calories: 231kcal | Fat: 0.00g | Carbs:
        0.00g | Protein: 0.00g", "food_id": "37735", "food_name": "Rum (90 Proof)",
        "food_type": "Generic", "food_url": "http:\/\/www.fatsecret[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=e4eb31e7826b28e8791d46ce3cfe2ad4&oauth_signature=f4Peuza8jub8DpHVqmNT7QXf5zc=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011299&oauth_version=1.0&page_number=5&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=a25f0d29f44602f25a4b80d9879a8cf0&oauth_signature=OJjXSdW2W%2B1qA1JE3rP/QDG6RZs=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011301&oauth_version=1.0&page_number=6&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=dd322cf971a34d4e93186036c3f2806f&oauth_signature=gVBVDGEdsxfWzeWgXbRJHapjfE0=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011303&oauth_version=1.0&page_number=7&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=980dd994ef90ae4ee38759b6bd717a17&oauth_signature=hbLBumWAw37J/RoVt5tAIv0G1IE=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011304&oauth_version=1.0&page_number=8&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=adbf73469facb2f8fdfc3fb268c23bb2&oauth_signature=fUxlRtbKSCoHb1auc8jNm3mGlbM=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011305&oauth_version=1.0&page_number=9&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=817d067b63653d017a7ae2d09f04e76f&oauth_signature=hBC3gqiX6dGhAoy3fgfqUQXZIjA=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011307&oauth_version=1.0&page_number=10&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
     [...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=20&method=foods.search&oauth_consumer_key=815ce1df8b5a4d18b6fd2034bdf6a6de&oauth_nonce=6bb1929dc9cff8ee85207ab68c2cbf16&oauth_signature=n5%2Byg7OGOyw6ccDRzfgdb/AxOiA=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1388011309&oauth_version=1.0&page_number=11&search_expression=alcohol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
   [...]
